<h1>The stupid coach has answered</h1>

<div class="border-start border-3 border-secondary ps-3">
<p><%=@question%></p>
<footer>-You</footer>
</div>
<br>
<div class="border-start border-3 border-secondary ps-3">
<p><%=@answer%></p>
<footer>-Stupid Coach</footer>
</div>

<%= link_to "Ask a new question", ask_path%>
